@import url(https://fonts.googleapis.com/css?family=Merriweather:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700);

.post-body {
  font-family: 'Merriweather', serif;
  color: #151515;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: -0.01em;
}

h3.post-title {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

h3.post-title a,
h3.post-title a:visited {
  color: #151515;
}

/* header */

.Header h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
}

.Header h1:before {
  content: 'Garabatero Público';
  display: block;
    color: #fff;
  font-size: 22px;
  font-weight: 300;
  position: absolute;
  top: -23px;
  left: 123px;
}

.Header .description {
  text-align: center;
  font-family: 'Raleway', sans-serif;
    color: #fff;
  font-size: 22px;
  line-height: 1.9em;
  margin: 0;
}

.header.section {
  margin: 0;
  background-image: url(https://rawgit.com/josketres/josketres.blogspot.com.style/master/header-bg.png);
  height: 356px;
  padding-top: 120px;
  box-sizing: border-box;
}
